Options +FollowSymLinks +ExecCGI
AddHandler fastcgi-script .fcgi

RewriteEngine On

RewriteRule ^$ index.html [QSA]
RewriteRule ^([^.]+)$ $1.html [QSA]
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ memereap.fcgi [QSA,L]
